<div class="main">
  <div>{{ candidateName }}</div>
  <div>
    <label for="candidate-skill">Candidate Skill</label>
    <input
      type="number"
      id="candidate-skill"
      (input)="changeInput($event)"
      [value]="candidateName"
    />
  </div>
  <button (click)="list.toggleDirection()">Cambiar lista</button>
  <div>
    <h3>
      Número de candidatos <span>{{ candidatesLength }}</span>
    </h3>
  </div>
  <app-candidate-list #list>
    <h2 title>Lista de candidatos</h2>
    <app-candidate
      [candidate]="candidates[0]"
      (select)="selectCandidate($event)"
    ></app-candidate>
    <app-candidate
      [candidate]="candidates[1]"
      (select)="selectCandidate($event)"
    ></app-candidate>
    <app-candidate
      [candidate]="candidates[2]"
      (select)="selectCandidate($event)"
    ></app-candidate
  ></app-candidate-list>
</div>
