<div class="main">
  <div>{{ candidateName }}</div>
  <div>
    <label for="candidate-skill">Candidate Skill</label>
    <input
      type="number"
      id="candidate-skill"
      [(ngModel)]="candidateExperience"
    />
  </div>
  <button (click)="list.toggleDirection()">Cambiar lista</button>
  <button (click)="doSortByExperience()">Ordernar por experiencia</button>
  <button (click)="doSortByName()">Ordernar por nombre</button>
  <div>
    <h3>
      Número de candidatos <span>{{ candidatesLength }}</span>
    </h3>
  </div>
  <app-candidate-list #list>
    <h2 title>Lista de candidatos</h2>
    <div
      class="candidate-box"
      *ngFor="let candidate of candidates; let i = index; trackBy: trackById"
    >
      <span>{{ i }}</span>
      <app-candidate
        [candidate]="candidate"
        (select)="selectCandidate($event)"
      ></app-candidate>
    </div>
  </app-candidate-list>
</div>
